/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Variables */
:root {
  --dark: rgba(0, 0, 0, 0.6);
  --gray: #8a8ca5;
  --light-gray: #e7e7e8;
  --brown: rgb(170, 60, 60);
  --background: rgba(233, 98, 98, 0.2);
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
* Landing Page Header Content
*/
.header-content {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(var(--dark), var(--dark)),
    url(/app/ui/img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

/* Logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px var(--light-gray);
  float: left;
  margin-top: 2.5rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo p {
  color: var(--light-gray);
  font-weight: 600;
  font-size: 2rem;
}

/* Navigation */
.main-nav {
  list-style-type: none;
  float: right;
  margin-top: 4rem;
  margin-right: 10rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: var(--light-gray);
  text-decoration: none;
  font-weight: 600;
}

.main-nav li a:hover {
  border-bottom: 4px solid;
  transition: all 0.5s ease-out;
}

/* hero */
.hero {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 20%;
}

.hero h1 {
  color: var(--light-gray);
  font-size: 4rem;
}

.hero-text {
  color: var(--light-gray);
  width: 80%;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.buttons {
  margin-top: 50px;
}

.btn {
  border: solid 1px white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 20px;
}

.btn:hover {
  color: black;
  background: var(--light-gray);
  transition: all 0.5s ease-out;
}
